.modal2 {
	visibility: hidden;
}
.modal-show2 {
	visibility: visible;
}
.modal-show2 ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-effect2 .modal-content2 {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 17.4vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show2.modal-effect2 .modal-content2 {
	transform: scale(1);
	opacity: 1;
}

.modal-content2 > div {
	font-size: 140%;
	color: #ada77c;
}
