.modal2 {
	font-size: 1.5vw;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40%;
	height: auto;
	max-height: 34vw;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	overflow-y: scroll;
    overflow-x: hidden;
	transform: translateX(-50%) translateY(-50%);
}
.modal-show2 {
	visibility: visible;
}
.modal-show2 ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-effect2 .modal-content2 {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 20vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show2.modal-effect2 .modal-content2 {
	transform: scale(1);
	opacity: 1;
}

.modal-content2 {
	color: darkgray;
	position: relative;
	margin: 0 auto;
	padding-bottom: 3vw;
}

.modal-content2 > div {
	padding: 0.5vw;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.modal-content2 > div p {
	margin: 0;
	padding: 10px 0;
}
