.modal {
	font-size: 1.5vw;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40%;
	height: auto;
	max-height: 30vw;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	overflow-y: scroll;
    overflow-x: hidden;
	transform: translateX(-50%) translateY(-50%);
}
.modal-show {
	visibility: visible;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.6);
	transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-effect .modal-content {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 20vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show.modal-effect .modal-content {
	transform: scale(1);
	opacity: 1;
}

.modal-content {
	color: darkgray;
	position: relative;
	margin: 0 auto;
	padding-bottom: 3vw;
}

.modal-content > div {
	padding: 3vw;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.modal-content > div p {
	margin: 0;
	padding: 10px 0;
}

.new-button{
	float: right;
	padding-right: 0.7vw;
	padding-top: 0.7vw;
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
}
.modal-text .content{
	display: inline;
	color: 	#565656;
}
.modal-text{
	word-wrap: break-word;
}