				/*-----------------Modal default-----------------*/

.md-default{
	display: none;
	font-size: 1.5vw;
	position: fixed;
	overflow-y: scroll;
    overflow-x: hidden;
	transform: translateX(-50%) translateY(-50%);
	max-height: 34vw;
	top: 50%;
	left: 50%;
	width: 40%;
	height: auto;
	z-index: 2000;
}

.md-content-default {
	color: darkgray;
	position: relative;
	margin: 0 auto;
	padding-bottom: 1vw;
}

.md-content-default > div{
	padding: 0.5vw;
	margin: 0;
	font-weight: 300;
	font-size: 140%;
    color: #ada77c;
}

.md-effect .md-content-default{
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 14vw;
	color:black;
	border: 0.01vw solid #777777;
}
				/*-----------------Modal overlay-----------------*/

.fisrt-overlay-layer {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 750;
	opacity: 0;
	background: rgba(0,0,0,0.6);
	transition: all 0.3s;
}

.second-overlay-layer {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 2500;
	opacity: 0;
	background: rgba(0,0,0,0.6);
	transition: all 0.3s;
}
				/*-----------------Close button-----------------*/
.md-close {
	border: 0.07vw solid #999898;
	padding: 0.4vw 1.2vw;
	background: radial-gradient(circle at 50% 33%, #c4c1c1, #a9abad);
	color: #fff;
	font-family: 'Aladin';
	font-size: 1em;
	letter-spacing: 0.05vw;
	text-transform: uppercase;
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
	display: inline-block;
	margin-top: 0.56vw;
	opacity: 0.9;
	outline: none;
	transition: 0.2s;
}

.md-close:hover {
	opacity: 0.65;
	transition: 0.2s;
}

				/*-----------------Add window-----------------*/

.md-add{
	z-index: 2000;
	visibility: hidden;
}

.md-show1{
	visibility: visible;
}

.md-show1 ~ .fisrt-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-show1.md-effect .md-content-add {
	transform: scale(1);
	opacity: 1;
}
				/*-----------------Edit window-----------------*/

.md-edit{
	z-index: 4000;
	visibility: hidden;
}

.md-show8{
	visibility: visible;
}

.md-show8 ~ .second-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-show8.md-effect .md-content-edit {
	transform: scale(1);
	opacity: 1;
}				

				/*-----------------Authorization window-----------------*/

.md-auth {
	visibility: hidden;
}

.md-show2 {
	visibility: visible;
}

.md-show2 ~ .fisrt-overlay-layer {
	opacity: 1;
	visibility: visible;
}

.md-effect .md-auth{
	min-height: 17.4vw;
}

.md-show2.md-effect .md-content-auth {
	transform: scale(1);
	opacity: 1;
}

				/*-----------------Registration window-----------------*/

.md-reg{
	visibility: hidden;
}

.md-show3{
	visibility: visible;
}

.md-show3 ~ .fisrt-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content-reg{
	min-height: 20vw;
}

.md-show3.md-effect .md-content-reg{
	transform: scale(1);
	opacity: 1;
}

				/*-----------------Profile window-----------------*/

.md-prof{
	visibility: hidden;
}

.md-show4{
	visibility: visible;
}

.md-show4 ~ .fisrt-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content-prof{	
	min-height: 20vw;
}

.md-show4.md-effect .md-content-prof{
	transform: scale(1);
	opacity: 1;
}

				/*-----------------Settings window-----------------*/

.md-sett{
	visibility: hidden;
}

.md-show5{
	visibility: visible;
}

.md-show5 ~ .fisrt-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content-sett{
	min-height: 7vw;
}

.md-show5.md-effect .md-content-sett{
	transform: scale(1);
	opacity: 1;
}

				/*-----------------Notice window-----------------*/

.md-not {
	width: 30%;
	max-height: 20vw;
	z-index: 3000;
	visibility: hidden;
}

.md-show6 {
	visibility: visible;
}

.md-show6 ~ .second-overlay-layer {
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content-not {
	min-height: 11.6vw;
}
.md-content-not > div{
	padding-bottom: 0 !important;
}
.md-show6.md-effect .md-content-not {
	transform: scale(1);
	opacity: 1;
}

.md-content-not .message{
	padding: 0vw !important;
	padding-bottom: 0.5vw !important;
	word-wrap: break-word;
    color: #565656 !important;
}

				/*-----------------Contact us window-----------------*/

.md-cont{
	visibility: hidden;
}

.md-show7{
	visibility: visible;
}

.md-show7 ~ .fisrt-overlay-layer{
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content-cont{
	min-height: 7vw;
}

.md-show7.md-effect .md-content-cont{
	transform: scale(1);
	opacity: 1;
}

.contact-textarea{
	height: 9.6vw;
	margin-top: 0.5vw;
	font-size: 1.8vw;
}

				/*-----------------Detail new window-----------------*/

.md-detail{
	max-height: 36vw;
	z-index: 1000;
	visibility: hidden;
}

.md-show {
	visibility: visible;
}

.md-show ~ .fisrt-overlay-layer {
	opacity: 1;
	visibility: visible;
}

.md-effect .md-content {
	min-height: 20vw;
}

.md-show.md-effect .md-content {
	transform: scale(1);
	opacity: 1;
}

.md-content {
	padding-bottom: 3vw;
}

.md-content > div {
	padding: 2.9vw;
	font-size: 115%;
}

.new-button{
	float: right;
	height: 1.56vw;
	padding-right: 0.7vw;
	padding-top: 0.7vw;
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
}

.md-text .content{
	display: inline;
	color: 	#565656;
}

.md-text{
	word-wrap: break-word;
}