.modal6 {
	width: 30%;
	max-height: 20vw;
	z-index: 3000;
	visibility: hidden;
}
.modal-show6 {
	visibility: visible;
}
.modal-show6 ~ .modal-overlay2 {
	opacity: 1;
	visibility: visible;
}

.modal-effect6 .modal-content6 {
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 11.6vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show6.modal-effect6 .modal-content6 {
	transform: scale(1);
	opacity: 1;
}

.message{
	word-wrap: break-word;
    color: #565656;
}

.modal-overlay2 {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 2500;
	opacity: 0;
	background: rgba(0,0,0,0.6);
	transition: all 0.3s;
}