.modal3{
	visibility: hidden;
}
.modal-show3{
	visibility: visible;
}
.modal-show3 ~ .modal-overlay{
	opacity: 1;
	visibility: visible;
}

.modal-effect3 .modal-content3{
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 20vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show3.modal-effect3 .modal-content3{
	transform: scale(1);
	opacity: 1;
}
