.modal5{
	visibility: hidden;
}
.modal-show5{
	visibility: visible;
}

.modal-show5 ~ .modal-overlay{
	opacity: 1;
	visibility: visible;
}

.modal-effect5 .modal-content5{
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
	min-height: 7vw;
	color:black;
	border: 0.vw solid #777777;
}

.modal-show5.modal-effect5 .modal-content5{
	transform: scale(1);
	opacity: 1;
}