body {
		/*Text*/
    text-align: center;
	font: 5vh/1.5 Aladin,Lobster, 'Underdog';
		/*Other*/
	background: radial-gradient(circle at 50% 33%, #dfdfdf, #b6b6b6);
   	cursor: url(../images/elements/PF3C_zlk_Arrow.cur), default;
}
div {
		/*Display*/	
	box-sizing: border-box; 		
		/*Size & Position*/	
    width: 100%;
}
input{ 
		/*Size & Position*/
	width: 86%;
		/*Margin, Border & Padding*/
	margin: 0 auto;
		/*Text*/
	color: #aaaaaa;	
	font-family: Aladin, 'Underdog', cursive;
	font-size: 1.3vw;	
}
.wrapper {
		/*Size & Position*/	
	margin: 0 auto;
	width: 100%;
}
.large-container{
		/*Size & Position*/
	height:100%;
	width:70%;
		/*Margin, Border & Padding*/
	margin: 0 auto;
		/*Other*/
	overflow-y: scroll;
    overflow-x: hidden;
}
.small-container{
		/*Size & Position*/	
	height: 84%;
	max-height: 55vw;
	width: 70%;
		/*Margin, Border & Padding*/
	margin: 0 auto;
}

				/*-----------------Header-----------------*/
.header{
		/*Size & Position*/	
	height: 32%;
	width: 70%;
		/*Margin, Border & Padding*/
	margin: 0 auto;
}
.logo{
		/*Display*/	
	display: inline-block;
		/*Size & Position*/	
	height: 80%;
	width: 80%;
		/*Other*/
	background: url(../images/elements/logo.png) no-repeat;
	background-size: 88%;
	opacity:0.95;
}
.quote {
		/*Display*/	
	display: inline-block;
		/*Size & Position*/	
	height: 20%;
	width: 90%;
		/*Other*/
	background: url(../images/elements/quote.png) no-repeat;
	background-position: top;
	background-size: 74%;
}

				/*-----------------News block-----------------*/
.news-block{
		/*Size & Position*/
	height: 64%;
	margin: 0 auto;
	width: 100%;
		/*Other*/
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
}
.picture{
		/*Size & Position*/
	float: left;
	width: 40%;
		/*Margin, Border & Padding*/
	margin-bottom: 2px;	
		/*Other*/
	opacity: 0.75;
}
.add{
		/*Size & Position*/
	margin: 0 auto;
}
.text{
		/*Size & Position*/
	float: right;
	height: 100%;
	max-width: 60%;
		/*Margin, Border & Padding*/
	padding: 1%;
		/*Text*/
	font-size: 1.55vw;
}
.title{
		/*Display*/		
	display: inline-block;
		/*Size & Position*/
	height: 28%;
		/*Text*/
	color: black;
	font-size: 1.6vw;
}
.author{
		/*Size & Position*/
	float:left;
	height: 30%;
	width: 50%;
		/*Margin, Border & Padding*/
	margin-left: -0.3vw;
	margin-top: 0.55vw;
		/*Text*/
	font-size: 74%;
	color: #ada77c;
		/*Other*/
	opacity:0.9;
}
.description{
		/*Display*/	
	display: inline-block;
		/*Size & Position*/
	height: 48%;
		/*Text*/
	color: #575757;
	font-size: 80%;
	word-wrap: break-word; 	
		/*Other*/
	overflow:hidden;
}

.date{	
		/*Size & Position*/
	float:right;
	height: 30%;
	width: 50%;
		/*Margin, Border & Padding*/
	margin-top: 0.82vw;
		/*Text*/
	color: darkgray;
	font-size: 60%;
		/*Other*/
	opacity:0.64;
}
				/*-----------------Left panel-----------------*/			
.left-panel {
		/*Size & Position*/
	height: 100%;
	left:0%;
	position:fixed;
	width: 15%;
			/*Margin, Border & Padding*/
	margin-left: -0.3vw;
		/*Other*/
	background: radial-gradient(circle at 93% 36%, #c2c2c2, #575757);
	opacity: 0.70;
}
.menu-item{
		/*Size & Position*/
	height:3vw;
		/*Margin, Border & Padding*/
	border-bottom: 0.1vmin solid #828282;
		/*Text*/
	font-size: 2.6vw;
	padding-left:0.6vw;
	text-align: left;
}
				/*-----------------Search-----------------*/
.search-img{
		/*Size & Position */
	height: 1.1vw;
	position: relative;
	right: 5.4vw;
	top: 1.4vw;
}				
#searchform input[type="text"] {
	height: 1.6vw;
	padding-left: 1.8vw;
}
				/*-----------------Button-----------------*/						
.button-pair{
		/*Size & Position*/
	height: 2vw;
	width: 100%;
		/*Other*/
	opacity:0.9;
}
.button-container{
		/*Margin, Border & Padding*/
	margin-left: 0.3vw;
		/*Size & Position*/
	float:left;
	height: 2vw;
	width: 2.4vw;
}
.button-text{
		/*Size & Position*/
	height: 2vw;
	width: 60%;
		/*Text*/
	font-size: 1.8vw;
	text-align:left;
}
				/*-----------------Right panel-----------------*/
.right-panel {
		/*Size & Position*/
	height: 100%;
	position:fixed;
	right:0%;
	width: 15%;
		/*Text*/
	text-decoration: none; 
		/*Other*/
	background: radial-gradient(circle at 10% 33%, #c2c2c2, #575757);
	opacity: 0.70;
}
.menu ul li {
		/*Text*/
	font-size: 2.3vw;
		/*Margin, Border & Padding*/
	border-bottom: 0.1vmin solid #888888;
		/*Other*/
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
}
.menu ul li a{
		/*Text*/
	color:  rgb(20,20,20);
	text-decoration: none;
	/*text-shadow: #242424 -0.03vw -0.03vw 0;*/
}
.menu ul li a:hover{
		/*Text*/
	color: rgb(15,15,15);
	text-shadow: 0.04vw 0.04vw 0.01vw rgb(240,240,240);
	/*text-shadow: rgb(240,240,240) -0.03vw -0.03vw 0;*/
}
.user-info{
		/*Margin, Border & Padding*/
	margin-top: 2vh;
}
.user-info-photo{
		/*Size & Position*/	
	height:26vh;
	max-height:12vw;
	width:26vh;
	max-width:12vw;
		/*Margin, Border & Padding*/
	border: 0.16vw solid #b3b3b3;
		/*Other*/
	opacity:0.85; 
}
.user-info-name{
		/*Text*/
	font-size:2.3vw;
	text-shadow: #242424 -0.05vw -0.05vw 0;
}
.user-info-rank{
		/*Margin, Border & Padding*/
	margin-top:-1vw;
		/*Text*/
	/*color:#8b1500;*/
	color: #525659;
	font-size:2.2vw;
	text-shadow: #242424 -0.05vw -0.05vw 0;
}
.github{
		/*Size & Position*/
	height:26vh;
	max-height:8vw;
		/*Margin, Border & Padding*/
	margin-top:5vw;
	padding:1vh;
		/*Other*/
	opacity:0.25
}
				/*-----------------Footer-----------------*/
.footer{
		/*Display*/
	display:inline-block;
		/*Size & Position*/
	height:16%;
	position:relative;
	width:100%;
		/*Margin, Border & Padding*/
	margin: 0 auto;
}
.creator{
		/*Margin, Border & Padding*/
	margin: 1vh auto;
		/*Text*/
	font-size: 2vw;
	top:5%;
		/*Other*/
	opacity: 0.7;
}	
.email{
		/*Size & Position*/
	position:relative;
		/*Margin, Border & Padding*/
	margin: -1vw auto;
		/*Text*/
	font-size: 1.7vw;
		/*Other*/
	opacity: 0.5;
}

				/*-----------------Template-----------------*/
.article-list{
		/*Size & Position*/
	height:100%;
	margin:0 auto;
	position:relative;
	top:2%;
	width:100%;
}
				
.new-list-item{
		/*Size & Position*/
	float: left;
	height: 33.3%;
	max-height: 10wh;
	width: 50%;
		/*Margin, Border & Padding*/
	margin-bottom: -0.09vmax; 
	margin-right: -0.07vmax;
	border: 0.03vw solid #b3b3b3;		
		/*Text*/
	color: darkgray;
	font-size: 80%;
		/*Other*/
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);	
}
.new-list-item-img{
		/*Size & Position*/
	height:15.5vmin;
	max-height:9vw;
	width:15.5vmin;
	max-width:9vw;
		/*Margin, Border & Padding*/
	padding:1.3vh;
}
.content-show{
	visibility: visible;
}

.content-show ~ .content {
	opacity: 1;
	visibility: visible;
}

.form-style{
		/*Size & Position */
	height: 3.2vw;	
		/*Margin, Border & Padding*/
	border: 0.14vw solid #cecece;
	margin: 0 1vw;
	padding-left: 1vw;
		/*Font*/
	font-size: 150%;	
		/*Other*/
	background: radial-gradient(circle at 50% 33%, white, #e7e7e7);
	cursor: url(../images/elements/PF3C_zlk_IBream.cur), text;
}
.form-style:focus{
	outline-color: #ada77c;
}
.authorization {
	position: fixed;
	top: 30%;
	left: 30%;
	width: 34vw;
	height: auto;
	padding-bottom: 2vw;
	background: white;
	border: 0.2vw solid #cecece;
	color: #575757;
	box-shadow: 0 0 10vw rgba(0,0,0,0.5);
	/*z-index: 2000;*/
}
.button-panel{
	height: 1.6vw;
	width: 100%;
}
.add-new-button{
	height: 100%;
	width: 16%;
	border: 0.03vw solid #b3b3b3;
	opacity: 1;
	visibility: hidden;
	color:#565656;
	cursor: cell;
	float:right;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);
}
.add-new-button:hover{
	opacity: 0.8;
}
.content{
	display: none;
}
.md-text .content{
	display: inline;
	word-wrap: break-word;
	color: 	#565656;
}
.new-list-item-content{
	font-size: 100%;
	color: black;
}
.new-list-item-author{
    height: 65%;
}
.md-content .new-list-item-author{
	font-size: 115%;
}
.md-content .md-list-item-title{
	font-size: 120%;
}
.md-content .new-list-item-date{
	font-size: 115%;
}
.md-list-item-img{
	width: 64%;
	height: 59%;
	opacity: 0.82;
	padding-bottom: 0.4vw;
}
.edit-new-button{
	visibility: hidden;
}
.edit-new-button:hover{
	opacity: 0.8;
}
.delete-new-button{
	visibility: hidden;
}
.delete-new-button:hover{
	opacity: 0.8;
}
.logout{
	display: none;
}
.profile{
	display: none;
}
a{
	cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
}

.loader{
	background-color: white;
	height: 100%;
	width: 100%;
}
.loading{
	color:#ada77c;
	font-size: 2.4vw;
}
.SN {
	padding-top:16.8vw;
	font-size: 3.6vw;
	font-family: 'Ribeye Marrow', cursive;
}
.spiner {
	height: 5vw;
	margin-right: 0.5vw;
}

.add-new-text {
	font-size: 1.2vw;
	height: 80%; 
}