@import url(reset.css);

body {
	background: url(../images/bg.png);
    font: 14px/1.5 Aladin, sans-serif;
    background-size: cover;
    text-align: center;
    margin: 0;
    width: 100%;
}

#wrapper {
	margin: 0 auto;
}
#header{
	width: 1328px;
	margin: 0 center;
	overflow: hidden;
}
#quote{
	position: absolute;
	height: 64px;
	width: 608px;
	display: inline-block;
	margin-top: 210px;
	background: url(../images/quote.png) no-repeat;
}
#left_panel {
	float: left;
	height: 951px;
	width: 296px;
	background: url(../images/left_bg.png) no-repeat;
	opacity: 0.7;
}
#content {
	margin-top: 310px;
}
#search{
	margin-top: 30px;
}
#footer{
	font-size: 30px;
}
#right_panel {
	float: right;
	height: 951px;
	width: 296px;
	background: url(../images/right_bg.png) no-repeat;
	text-decoration: none;	
	opacity: 0.7;
	position: relative;
}
#menu {
	margin-top: 40px;
}
#menu ul li {
	font-family: 'Aladin', cursive;
	font-size: 50px;
	margin-top: -10px;
}
#menu ul li a{
	color: 	rgb(20,20,20);
	text-decoration: none;	
}
#search {
	font-size: 35px;
}
#seach ul li {
	font-family: 'Aladin', cursive;
	
	margin-top: -10px;
}
#search ul li a{
	color: 	rgb(20,20,20);
	text-decoration: none;	
}

#content{
	backgroung: url(../images/group.png) no-repeat;
}
#menu ul li a:hover{
	text-shadow: 0.5px 0.5px 0.1px rgb(240,240,240);
	color: rgb(15,15,15);
}
#divider{
	height: 2px;
	width: 296px;
	background: url(../images/divider.png) no-repeat;
}
#user_info{
	margin-top: 50px;
	font-size: 40px;
}
