@import url(reset.css);
body {
    font: 50px/1.5 Aladin, sans-serif;
    background-size: cover;
    text-align: center;
	background: radial-gradient(circle at 50% 33%, #dfdfdf, #b6b6b6);
	height: 100%;
    width: 100%;
}
div { 
    width: 100%;
    box-sizing: border-box; 
}
.wrapper {
	margin: 0 auto;
	width: 100%;
}
#container {
    width: 50%;
	height: 84%;
	max-height: 55vw;
    margin: 0 auto;
}
				/* Header */
.header{
	width: 70%;
	height: 32%;
	margin: 0 auto;
}
#logo{
	width: 80%;
	height: 80%;
	overflow: hidden;
	display: inline-block;
	background: url(../images/logo.png) no-repeat;
	background-size: 84%;
	background-position: center;
}
#quote {
	width: 90%;
	height: 20%;
    display: inline-block;
	background: url(../images/quote.png) no-repeat;
	background-size: 74%;
	background-position: top;
}
				/* News block */
.news-block{
	margin: 0 auto;
	width: 98%;
	height: 68%;
	max-height: 45vw;
	
}
.left-block{
	float:left;
	display: inline-block;
	width: 50%;
	height: 100%;	
}
.left-block .new{
	transition-duration:0.5s;
	transition-delay:0.05s;
	margin-left: 1.5vw;
	margin-bottom: -0.08vw;
	border: 0.1vw solid #b3b3b3;
	float: left;
    width: 94.2%;
	height: 33.3%;
	max-height: 10wh;
	/*background: radial-gradient(circle at 80% 33%, #ebebeb, #dbdbdb);*/
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);
	color: darkgray;
}
.left-block .new:hover{
	margin-left: 0.5vw;
	transition-duration:0.5s;
	transition-delay:0.05s;
}
.right-block{
	float:right;
	display: inline-block;
	width: 50%;
	height: 100%;
}
.right-block .new{
	transition-duration:0.5s;
	transition-delay:0.05s;
	margin-right: 1.5vw;
	margin-bottom: -0.08vw; 
	border: 0.1vw solid #b3b3b3;
	float: right;
	width: 94.2%;
	height: 33.3%;
	max-height: 10wh;
	/*background: radial-gradient(circle at 20% 33%, #ebebeb, #dbdbdb);*/
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);
	color: darkgray;
}
.right-block .new:hover{
	margin-right: 0.5vw;
	transition-duration:0.5s;
	transition-delay:0.05s;
}
.picture{
	display: inline-block;
	width: 9vw;
	margin-bottom: 2px;
	float: left;
	opacity: 0.73;
}
.add{
	margin: 0 auto;
}
.text{
	height: 100%;
	font-size: 1.55vw;
	width: 13vw;
	max-width: 60%;
	float: right;
	/*padding: 0.5vmax;*/
	padding: 1%;
}
.title{	
	color: black;
	display: inline-block;
	height: 28%;
	font-size: 1.6vw;
}
.author{
	float:left;
	margin-top: 0.55vw;
	margin-left: -0.3vw;
	height: 30%;
	width: 60%;
	font-size: 74%;
	opacity:0.9;
	color: #ada77c;
}
.description{	
	display: inline-block;
	/*word-break: break-all;*/
	word-wrap: break-word; 
	overflow:hidden;
	height: 48%;
	font-size: 80%;
	color: #575757;
}

.text .date{	
	margin-top: 0.82vw;
	float:right;
	height: 30%;
	width: 40%;
	font-size: 60%;
	opacity:0.64;
}
				/* Left panel */
#button {
	display: none; 
} 
[for="button"] { 
	position: absolute; 
	margin-top: 1vw;
	margin-left: 0.62vw;
	display: block; 
	width: 2vw; 
	height: 2vw;
	max-width: 2vh;
	max-height: 2vh; 
	background: #ddd linear-gradient(#6b6a6a, #b6b6b6); 
	box-shadow: 
		inset 0 2px 1px rgba(0,0,0,.15), 
		0 2px 5px rgba(200,200,200,.1); 
	cursor: pointer; 
} 
[for="button"]:after { 
	content: ""; 
	position: absolute; 
} 
[for="button"]:before { 
	content: ""; 
	position: absolute; 
} 
#button:checked ~ [for="button"]:before { 
	top: 10%; right: 10%; bottom: 10%; left: 10%; 
	box-shadow: 
		0 3px 5px rgba(0,0,0,.25), 
		inset 0 1px 0 rgba(255,255,255,.3), 
		inset 0 -5px 5px rgba(100,100,100,.1), 
		inset 0 5px 5px rgba(255,255,255,.3); 
	background: #e5e5e5 linear-gradient(#dedede, #fdfdfd); 
} 
#button:checked ~ [for="button"]:after { 
	box-shadow: 
		inset 0 3px 5px 1px rgba(0,0,0,.1), 
		0 1px 0 rgba(255,255,255,.4); 
}
#left_panel {
	float: left;
	height: 100%;
	width: 15%;
	background: radial-gradient(circle at 90% 33%, #c2c2c2, #575757);
	opacity: 0.70;
}
				/* Right panel */
#right_panel {
	float: right;
	height: 100%;
	width: 15%;
	background: radial-gradient(circle at 10% 33%, #c2c2c2, #575757);
	text-decoration: none; 
	opacity: 0.70;
}
#rank{
	font-size:2.2vw;
	margin-top:-1vw;
	color:rgb(160,0,0);
	/*text-shadow: #242424 -0.8px -1px 0;*/
}
#user_info{
	margin-top: 2vh;
}
.menu ul li {
	font-family: 'Aladin', cursive;
	font-size: 2.3vw;
	padding: -5vh;
	border-bottom: 0.1vmin solid #888888;
}
.menu ul li a{
	color:  rgb(20,20,20);
	text-decoration: none;
}
.menu ul li a:hover{
	text-shadow: 0.5px 0.5px 0.1px rgb(240,240,240);
	color: rgb(15,15,15);
}
				/* Footer */
.footer{
	width:70%;
	margin: 0 auto;
	height: 16%;
}
.creator{
	opacity: 0.7;
	font-size: 2vw;
	margin: 0 auto;
}	
.email{
	opacity: 0.5;
	margin-top: 5vw;
	font-size: 1.7vw;
	margin: -1vw auto;
}	
				/* Template */
.article-list{
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:scroll;
}
::-webkit-scrollbar {
    width: 0.7vw;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 14px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-corner {
	display:none;
}
.article-list-item{
	font-size: 80%;
	margin-bottom: -0.08vw; 
	margin-right: -0.08vw; 
	border: 0.1vw solid #b3b3b3;
	float: left;
    width: 50%;
	height: 33.3%;
	max-height: 10wh;
	background: radial-gradient(circle at 20% 33%, #f0f0f0, #eeeeee);
	color: darkgray;
}			

.pair{
	opacity:0.9;
	height: 2vw;
}
.button-container{
	height: 2vw;
	width: 2.4vw;
	float:left;
}
.button-text{
	text-align:left;
	height: 2vw;
	width: 60%;
	font-size: 1.8vw;
}